// note: _mixins are imported on next.config.js do to a limitation at the time of writing this

@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_typography';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

//fix NextUI bug
input {
  background-color: transparent !important;
}

div:focus, input:focus{
    outline: 0;
}



.container {
  @apply rounded-lg bg-content1 overflow-hidden w-auto;
}

.border-t-transparent {
  border-top-color: transparent;
}
.border-r-transparent {
  border-right-color: transparent;
}

.border-l-transparent {
  border-left-color: transparent;
}

.border-b-transparent {
  border-bottom-color: transparent;
}

.wrapper-max-height {
  height: calc(100vh - 64px);
}
